<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.mirai-projects.siri"
        version="0.7.0">

  <name>Siri</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/siri.js" target="js/siri.js"/>

  <js-module src="www/siri.js" name="siri">
    <clobbers target="siri" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Siri">
        <param name="ios-package" value="HWPSiri" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPSiri.h" target-dir="SiriPlugin"/>
    <source-file src="src/ios/HWPSiri.m" target-dir="SiriPlugin"/>
  </platform>

</plugin>
